body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  border: 1px solid black;
  margin-bottom: 2px;
}

/* .time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}  */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(10, 10, 10);
}

.present {
  background-color: #ff6961;
  color: rgb(12, 11, 11);
}

.future {
  background-color: #77dd77;
  color: rgb(5, 5, 5);
}

.saveBtn {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  margin-bottom: 2px;
  box-shadow: 1px 0 2px black;
}

.saveBtn:hover {
  transform: scale(1.1);
}
#time{
  background-color: #06AED5;
}
